body {
    display: block;
    margin: 0px;
    box-sizing: border-box;
}
.mainHeading{
	padding: 0px 15px;
	font-size: 20px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right:auto;
	width: 60%;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.column{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;	
}
.cardShadow {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card {
    background-color: #FFFFFF;
    height: 660px;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.sideHeading{
    float:left; width: 25%; 
    box-sizing: border-box;
    margin-top: 15px;
}
.headingDiv{
	clear: both;
	text-align: center;
}
#addProductButton{
	background-color: rgb(39, 174, 96);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    border: none;
    width: auto;
    margin-left: 40%;
    border-radius: 4px; 
    cursor: pointer;
}

.asterik{
    color:rgb(255, 99, 71);
}

input[type=text]{
    padding: 12px 10px 12px 20px;
    float: left; 
    width: 50%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
select{
    padding: 12px 10px 12px 20px;
    float: left; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 50%;
    margin-top: 6px; box-sizing: border-box;
}
.nameDiv{
    float:left; 
    width: 100%; 
    clear:both; 
    position: relative;
    margin-bottom: 3%;
    margin-left: 12%;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
.containerBox{
	padding-top: 30px;
}
.errorMsg{
    color: rgb(255, 99, 71);
    position: absolute;
    top: 100%;
    left : 26%;
}
.alertIcon{
    position: absolute;
    visibility: hidden;
    right: 29%;
    top : 40%;
    color: rgb(255, 99, 71);
}

.toolTip{
    visibility: hidden;
    text-align: left;
    box-sizing: border-box;
    background-color: rgb(255, 220, 224);
    border: 1.25px solid rgb(206, 160, 165);
    color: rgb(80,80,80);
    position: absolute;
    width: 50%;
    top: 100%;
    left: 25%;
    padding:7px 20px 7px 20px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}
.sideHeading:hover ~ .toolTip{
    visibility: visible;
}
.icon{
	height: 2%;
	width: 2%;
	margin-right: 5px;
}
.imageContainer {
    min-height: 110vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    
}