.footer {
    position: relative;
    right: 0;
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    padding:20px 10%;
    background-color: rgba(50, 50, 50,0.97);
    color: #FFFFFF;
    overflow: hidden;
    line-height: 20px;
    text-align: justify;
 }
 
 .middle{
     text-align: center;
 }