body{
    background-color: inherit;
    margin:0%;
    min-height: inherit;
}
#boxdiv{
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    margin: 3% 24%; 
    border:0.5px solid rgb(30, 144, 255);
    border-radius: 10px; 
    background-color: rgb(242,242,242);
    padding: 0px 0px 20px; 
}
#header{
    text-align: center; 
    font-weight: lighter; 
    color: rgb(255,255,255); 
    height: 50px;
    font-size: 30px; 
    padding-top:15px; 
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    color: black;
}
#formdiv{
    padding-top: 15px;
}
.sideheading{
    float:left; width: 25%; 
    padding-top: 10px; 
    padding-left: 35px;
    box-sizing: border-box;
}
.asterik{
    color:rgb(255, 99, 71);
}

input[type=email], input[type=password],input[type=text]{
    padding: 12px 10px 12px 20px;
    float: left; 
    width: 70%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
textarea{
    padding: 12px 20px;
    float: left; 
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    height:100px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    resize: vertical;
}
.selectdiv{
    float:left; 
    width: 70%;
    margin-top: 0px; box-sizing: border-box;
}
select{
    padding: 12px 20px; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#registerbutton,#loginbutton{
    background-color: rgb(39, 174, 96);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    border: none;
    width: auto;
    margin-left: 43%;
    margin-bottom: 2%;
    border-radius: 4px; 
    cursor: pointer;
}
.requireddetails{
    padding-left: 35px;
}
h3{
    margin: 2% 20% ;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.namediv{
    float:left; 
    width: 100%; 
    clear:both; 
    position: relative;
    margin-bottom: 4%;
}

.errormsg{
    color: rgb(255, 99, 71);
    position: absolute;
    top: 100%;
    left : 28%;
}
.alerticon{
    position: absolute;
    visibility: hidden;
    right: 7.35%;
    top : 40%;
    color: rgb(255, 99, 71);
}

.tooltip{
    visibility: hidden;
    text-align: left;
    box-sizing: border-box;
    background-color: rgb(255, 220, 224);
    border: 1.25px solid rgb(206, 160, 165);
    color: rgb(80,80,80);
    position: absolute;
    width: 70%;
    top: 100%;
    left: 25%;
    padding:7px 20px 7px 20px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}
.sideheading:hover ~ .tooltip{
    visibility: visible;
}
#registerbutton a,#loginbutton a{
    text-decoration: none;
    color: white;
}