.imageContainer {
    min-height: 110vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    
}
body {
    display: block;
    margin: 0px;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
.mainHeading{
	padding: 0px 15px;
	font-size: 20px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right:auto;
	width: 60%;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.column{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;	
}
.cardShadow {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card {
    background-color: #FFFFFF;
    height: 660px;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    margin-bottom: 30px;
    box-sizing: border-box;
    overflow: auto;
}
.headingDiv{
	position : relative;
	clear: both;
	margin-left: 15px;
}
.viewWorkOrderDetail .headingDiv{
	position : relative;
	clear: both;
	left: 35%;
}
.containerBox{
	padding-top: 30px;
}
.icon{
	height: 2%;
	width: 2%;
	margin-right: 5px;
}
.viewWorkOrderDetail .headingDiv .icon{
	height: 2%;
	width: 2%;
	margin-right: 5px;
}

.miniHeading,.displayContent{
	margin-left: 35px;
}
.displayContent{
	box-sizing: border-box;
}
.rectangle{
	padding-left: 5%;
	position: relative;
	margin-right: 5%;
	border: 0.1px solid rgba(0,0,0,0.1);
	height:auto;
	margin-bottom: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
}
.viewButton{
	position: relative;
	bottom: 10px;
	background-color: #0080ff;
    color: rgb(255,255,255); 
    padding: 10px 15px; 
    border: none;
    width: auto;
    border-radius: 4px; 
    cursor: pointer;

}
.viewWorkOrderDetail{
	display: none;
	box-sizing: border-box;
	width: 100%;
	overflow-x : hidden;
}

.viewWorkOrderDetail .sideHeading{
	margin-left: 7%;
    float:left; width: 25%; 
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 5%;
}
.viewWorkOrderDetail #backButton{
	background-color: #0080ff;
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    border: none;
    width: auto;
    margin-left: 45%;
    margin-bottom: 30px;
    border-radius: 4px; 
    cursor: pointer;
}

.viewWorkOrderDetail .nameDiv{
    float:left; 
    width: 100%; 
    clear:both; 
    position: relative;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top : 15px;
    box-sizing: border-box;
}
 .headingValue {
	position: relative;
	left: 37.5%;
}
.viewWorkOrderDetail .sideHeading{
	font-weight: 550;
}