body{
    background-color: rgb(255,255,255);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingdiv{
    margin-bottom: -3%;
}
.formdiv{
    margin: auto;
    max-width: 90%;
    width: 640px;
}
.inputfielddiv{
    margin-bottom: 4%;
    position: relative; 
}
.errmsg{
    color: rgb(255,99,71);
	position: absolute;
	bottom: -8px;
	left: 10px;
}
.hide{
    visibility: hidden;
}
.hidden{
    display:none;
}
#empform{
    display: block;
    width: 640px;
    max-width: 90%;
	margin: 50px auto;
	position: relative;
}
#empform fieldset{
    text-align: center;
    margin-bottom: 4%;
    background-color: rgb(255,255,255);
    position: relative;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px 40px; 
    box-sizing: border-box; 
}
.addaddressbutton{
    position: absolute;
    z-index:1;
    top:98%;
    left:41%;
}
#empform legend{
    text-align: center;
    color: rgba(0,0,0,0.69);
    font-size: 26px;
    
}
#fakeaddressdiv{
    display: none;
}
#empform input, textarea, select{
    color: rgb(121,121,121);
    padding: 12px 10px 12px 20px;;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}
.alerticon{
    position: absolute;
    visibility: hidden;
    bottom : 45%;
    left: 93%;
    color: rgb(255, 99, 71);
}
.infoicon{
    position: absolute;
    visibility: visible;
    bottom : 45%;
    left: -4%;
    color: rgba(30, 143, 255, 0.555);
}
.tooltip{
    visibility: hidden;
    box-sizing: border-box;
    background-color: rgb(255, 220, 224);
    border: 1.25px solid rgb(206, 160, 165);
    color: rgb(80,80,80);
    position: absolute;
    width: 100%;
    top: 80%;
    right:0%;
    padding:7px 20px 7px 20px;
    border-radius: 0px 0px 4px 4px;
}
.infoicon:hover ~ .tooltip{
    visibility: visible;
    z-index: 1;
}
.addphonenumberbutton{
    position: absolute;
    visibility: visible;
    bottom: 42.5%;
    left: 101.5%;
}
.delphonenumberbutton{
    position: absolute;
    visibility: visible;
    bottom: 42.5%;
    left: 101.5%;
}
#fakephonediv{
    display: none;
}
.captchadiv{
    position: relative;
}  
.refreshicon{
    position: absolute;
    right: 18.9%;
    background-color: rgb(100, 149, 237);
    color: rgb(255, 255, 255);
} 
.captchacanvas{
    position: relative;
    background-color:rgb(242, 242, 242);
    margin-bottom: 4%;
}
#captchafielddiv{
    margin: auto;
    width: 35%;
}
#captchafielddiv > .infoicon{
    position: absolute;
    visibility: visible;
    bottom : 45%;
    left: -12%;
    color: rgba(30, 143, 255, 0.555)
}
#captchafielddiv > .alerticon{
    position: absolute;
    visibility: hidden;
    bottom : 45%;
    left: 80%;
    color: rgb(255, 99, 71);
}
.submitbutton{
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100px;
	background: rgb(39, 174, 96);
	color: rgb(255, 255, 255);
	border: 0 none;
	border-radius: 4px;
	cursor: pointer;
	padding: 12px 20px;
    margin: 13px 0px;
    position: absolute;
    left: 40%;
}
.profileimage{
    background-color: rgba(244,244,244,0.5);
    display: block;
    border: none;
    border-radius: 50%;
    margin: 0 29.5% 4%;
    height: 200px;
    position: relative;
    cursor: pointer;
    background-position: center center;
}
fieldset img{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
#dispdata {
    display: block;
}
.row {
    margin: 10px -10px 0px 0px;
}
.col {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin: 5px;
}
.dispimage{
    background-color: rgba(244,244,244,0.5);
    display: block;
    border: none;
    border-radius: 50%;
    margin: 0%;
    height: 200px;
    position: relative;
    cursor: pointer;
    background-position: center center;
}
.dispheading{
    text-align: center;
}
img{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
