body{
    background-image: linear-gradient(rgb(255,255,255),rgb(250,250,250));
}
#boxdiv{
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
    margin: 3% 24%; 
    border-radius: 10px; 
    background-color: rgb(242,242,242);
    padding: 0px 0px 20px; 
}
#registernamediv{
    text-align: center; 
    font-weight: lighter; 
    background-color: rgb(0,0,0);
    color: rgb(255,255,255); 
    height: 50px;
    font-size: 20px; 
    padding-top:15px; 
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
}
#formdiv{
    padding-top: 15px;
}
.sideheading{
    float:left; width: 25%; 
    padding-top: 16px; 
    padding-left: 35px;
    box-sizing: border-box;
}
.asterik{
    color:rgb(255, 99, 71);
}
#firstname{
    padding: 12px 20px;
    float: left; 
    width: 100%;
    margin-top: 6px; 
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#lastname{
    padding: 12px 20px;
    float: left; 
    width: 100%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
input[type=email], input[type=password],input[type=text]{
    padding: 12px 10px 12px 20px;
    float: left; 
    width: 70%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.cleardiv{
    clear: both;
}
.radiobuttondiv{
    padding: 12px 0px;
    float:left; 
    width: 70%;
    margin-top: 6px; 
    border: 1px solid rgb(242,242,242);
    border-radius: 4px;
}
textarea{
    padding: 12px 20px;
    float: left; 
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    height:100px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    resize: vertical;
}
.selectdiv{
    padding: 12px 0px;
    float:left; 
    width: 70%;
    margin-top: 0px; box-sizing: border-box;
}
select{
    padding: 6px 20px; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#registerbutton{
    background-color: rgb(255, 99, 71);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    margin-top:20px; 
    border: none;
    width: auto;
    margin-left: 43%;
    border-radius: 4px; 
    cursor: pointer;
}
.requireddetails{
    width: 95%;
    float:left;
    clear: both;
    padding-left: 35px;
    box-sizing: border-box;
}
.captchadiv{
    position: relative;
    min-width:50% ;
    margin: 2% 30%;
    box-sizing: border-box;
    padding: 0% 16% 2% 17%;
    float: left;
    clear: both;
    border-radius: 5px;
    border: 1px solid rgb(180,180,180);
}
#result{
    padding: 10px 12px;
    margin-top: 6px;
    float: left; 
    width: 35%;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.captchasideheading{
    margin-top: 6px;
    margin-right: -10px;
    float:left; 
    width: 60%; 
    padding-top: 10px; 
    box-sizing: border-box;
}
h3{
    margin: 2% 20% ;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.refreshbutton{
    position: absolute;
    top: 5px;
    right: 5px;
}
.namediv{
    float:left; 
    width: 100%; 
    clear:both; 
    position: relative;
    margin-bottom: 4%;
}
.namedivinner{
    float:left; 
    width:33%;
    position: relative;
}
.gapbtwdivinner{
    margin-right: 4%;
}
.namealerticon{
    position: absolute;
    visibility: hidden;
    left: 86%;
    top : 40%;
    color: rgb(255, 99, 71);
}
.alerticon{
    position: absolute;
    visibility: hidden;
    right: 7.35%;
    top : 40%;
    color: rgb(255, 99, 71);
}
.captchaalerticon{
    position: absolute;
    visibility: hidden;
    top : 45px;
    right: 100px;
    color: rgb(255, 99, 71);
}
.tooltip{
    visibility: hidden;
    text-align: left;
    box-sizing: border-box;
    background-color: rgb(255, 220, 224);
    border: 1.25px solid rgb(206, 160, 165);
    color: rgb(80,80,80);
    position: absolute;
    width: 70%;
    top: 100%;
    left: 25%;
    padding:7px 20px 7px 20px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}
.namediv:hover .tooltip{
    visibility: visible;
}
.alertinfo{
    position: absolute;
    left: 5%;
    color: rgb(255, 99, 71);
}
#invalid{
    color:rgb(0,0,0);
}