* {
    box-sizing: border-box;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right:auto;
	width: 60%;
}
.mainHeading{
	padding: 0px 15px;
}
.headingDiv{
	clear: both;
	text-align: center;
}
.headingDiv h3{
	font-weight: 700;
	font-size: 22px;
}
.headingDiv h5{
	font-weight: 400;
	font-size: 18px;
}
.imageContainer {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}
body{
	margin:0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	box-sizing: border-box;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.column, .outerColumn, .col-sm-8, .col-xs-10{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;	
}
.containerBox {
    padding-top: 30px;
}
.cardShadow {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card {
    background-color: #FFFFFF;
    height: auto;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.cardNavigation a {
    color: #3C4858;
    text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
.containerBox .cardNavigation {
    position: relative;
}
.navPills {
    background-color: rgba(200, 200, 200, 0.2);
    height: 39px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.card ul {
    margin-top: 0;
}
.navPills > li {
    float: left;
    text-align: center;
    position: relative;
    display: block;
}
.navPills > li.active > a {
    background-color: #f90;
}
.navPills > li > a {
    border: 0;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.card a {
    opacity: .85;
    font-family: Roboto, sans-serif;
	text-decoration: none;
}
.navPills > li + li {
    margin-left: 0;
}	

.cardShadow .tabContent {
	min-height: 300px;
    max-height: 100vh;
    margin-bottom: 5%;
}
.tabContent {
    padding: 2em;
}
.tabContent > .active {
    display: block;
}
.cardShadow .infoText {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}
.cardShadow .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
input[type="radio"] {
    margin: 4px 0 0;
    position: absolute;
    left: -10000px;
    z-index: -1;
    line-height: normal;
}
input{
	font-family: inherit;
	font-size:inherit;
	font: inherit;
	color: inherit;
}
.card img {
	vertical-align: middle;
	width: 35%;
    height: 35%;
    border: 4px solid rgba(0,0,0,0.15);
    border-radius: 50%;
    cursor: pointer;
}
.card img:hover{
	border:4px solid rgba(255,133,0,0.85);
}
.sideHeading{
	padding-left: 18%;
    float:left; width: 28%; 
    margin-right: 5%;
    box-sizing: border-box;
    margin-top: 20px;
    
}
select{
	float: left;
    padding: 6px 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 50%;
    margin-top: 25px; 
    box-sizing: border-box;
}
.tabPane{
	display:none;
	position: relative;
}

.active{
	display:block;
}
.vehicleTab, .modelTab, .servicesTab{
	width: 33.33%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-10 {
    width: 83.33333333%;
    float: left;
}
col-xs-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
    padding-right: 15px;
}
.nameDiv{
	clear: both;
    width: 100%; 
    height: auto; 
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
.choice{
	float: left;
	margin-left: 12%;
}
.previous{
	color: #555555;
	padding: 12px 20px; 
    border: none;
    width: auto;
    border-radius: 4px; 
    cursor: pointer;
    background-color: rgba(120,120,120,0.5);
	position: relative;
	margin-top: 5%;
	margin-left: 7%;
	float: left;
	margin-bottom: 20px;
}
.next{
	color: #555555;
	padding: 12px 20px; 
    border: none;
    width: auto;
    border-radius: 4px; 
    cursor: pointer;
	background-color: #f90;
	position: relative;
	margin-top: 5%;
	margin-right: 7%;
	margin-bottom: 20px;
	float: right;
}
#vehicle .next{
	margin-top: 3%;
	margin-right: 7%;
}
.checkbox{
	box-sizing: border-box;
	overflow: auto;
}
.productCost{
	float: right;
}
#vehicle .errorMsg{
    color: rgb(255, 99, 71);
    position: absolute;
    top: 100%;
    left : 34%;
}
#service .errorMsg{
    color: rgb(255, 99, 71);
    position: absolute;
    right: 25%;
    top: 100%;
}
.hidden{
	display: none;
}
#checkoutForm{
	display: none;
}
.leftMargin{
	margin-left: 20%;
}
.buyButton{
	background-color: rgb(39, 174, 96);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    border: none;
    width: auto;
    margin-left: 40%;
    border-radius: 4px; 
    cursor: pointer;
    margin-bottom: 15px;
}
#checkoutForm .nameDiv label{
	float: left;
}
#checkoutForm .nameDiv{
	position: relative;
	clear: both;
    width: 100%; 
    min-height: 20px; 
    margin-bottom: 7%;
    box-sizing: border-box;
}
#checkoutForm .nameDiv span.labelValue{
	float: right;
	position: absolute;
	top: 2px;
	left: 35%;
}
#checkoutForm .selectDiv{
	padding: 6px 5px 6px 10px;
    float: right; 
    position: absolute;
    width: 25%;
    top: -30px;
    right: 40%;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#bookServicesForm{
	display: block;
}
.productsBrought label, .addressDiv label, .vehicleNumberPlate label, .vehicleName label, .totalCost label {
	font-weight: 550;
}
.notVisible{
	visibility: hidden;
}
#checkoutForm .nameDiv span.errorMsg{
	position: absolute;
	top: 35px;
	left: 20%;
	color: rgb(255,99,71);
}