ul {
    list-style-type: none;
    margin:0;
    overflow: hidden;
    background-color: #333;
    padding:0px;
    box-sizing: border-box;
    height:64px;
  }
  .links,.dropdown {
    float: right;
  }
  .links a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 15px;
    text-decoration: none;
  }
  .links a:hover{
    background-color: #111;
  }
  .chalogarage a{
    float:left;
    margin:0px;
    font-size: 24px;
    text-align: center;
    padding:20px 15px;
    color: white;
    text-decoration: none;
  }
  .dropdown{
  position; relative;
  }
  .dropdownContent{
  wisth: auto;
  background-color: #333;
  display: none;
  position: absolute;
  top: 9.85%;
  z-index: 1;
  }
  .dropdownContent a{
  text-decoration: none;
  color: white;
  float: none;
  text-align: left;
  display: block;
  padding: 22px 12.5px;
  }
  .dropdown:hover{
  background-color: #111;
  }
.dropdown:hover .dropdownContent {
  	display: block;
}
.dropdownContent a:hover{
	background-color: #111;
}