.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image{
	width: 100%;
	max-height: 100vh;
}
body{
	margin:0;
	font-family: Roboto, sans-serif;
}
.bookServiceButton, .orderPartsButton{
	color: #FFF;
	font-size: 14px;
	padding: 12px 20px;
	margin: 0 auto 15px;
	float: none;
	border-radius: 5px;
	background-color: #2196F3;
	border-width: 1px;
	font-weight: 600;
	line-height: 1.6em;
	border-color: #888;
	text-transform: uppercase;
}
.boxDiv{
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	width: 33.333%;
	border: 0;
}
.imageContainer{
	padding: 0px 10px;
}
img{
	height: 35%;
	width: 35%;
}
.btn{
	color: #FFF;
	font-size: 14px;
	padding: 10px 15px;
	margin: 0px auto;
	border-radius: 5px;
	background-color: #2196F3;
	border-width: 1px;
	margin-top: 20px;
	cursor: pointer;
}
.editProductBtn{
	margin-right: 30px;
}
a{
	text-decoration: none;
	color: #fff;
}