body {
    display: block;
    margin: 0px;
}
.mainHeading{
	padding: 0px 15px;
	font-size: 20px;
	float: left;
}
.mainHeadingUpdate{
	padding: 0px 45%;
	font-size: 20px;
	margin-bottom: 2%;
}
.boxDiv{
	padding: 0px 15px 0px 15px;
}
.sideHeading{
    float:left; width: 25%; 
    box-sizing: border-box;
}
.sideHeadingValue{
    float:left; width: 75%; 
    box-sizing: border-box;
}
.fieldDiv{
	padding: 10px 0px;
	height: 20px;
	border-bottom: 1px solid rgb(204,204,204);
	margin-bottom: 1%;
	clear: both;
}
.basicDetails{
	margin-bottom : 2%;
}
.headingDiv{
	clear: both;
}
.updateProfileButton{
	float: right;
	margin: 20px 25px 0px 0px ;
	padding: 8px 15px;
	background-color: #0080ff;
	color: white;
	border-radius: 4px; 
    cursor: pointer;
    border: none;
}
.profileDiv{
	display: block;
}
.updateProfileDiv{
	display: none;
}
#submitProfileButton{
	background-color: rgb(39, 174, 96);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    border: none;
    width: auto;
    margin-left: 45%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 4px; 
    cursor: pointer;
}

.sideHeadingUpdate{
    float:left; width: 20%;
    margin-right: 20%;
    margin-left: 15px;
    padding-top: 10px; 
    padding-left: 55px;
    box-sizing: border-box;
}
.asterik{
    color:rgb(255, 99, 71);
}

input[type=email], input[type=password],input[type=text]{
    padding: 12px 10px 12px 20px;
    float: left; 
    width: 50%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
select{
    padding: 6px 20px; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 50%;
    margin-top: 6px; box-sizing: border-box;
}
.nameDiv{
    float:left; 
    width: 100%; 
    clear:both; 
    position: relative;
    margin-bottom: 3%;
}

.errorMsg{
    color: rgb(255, 99, 71);
    position: absolute;
    top: 100%;
    left : 46.5%;
}
.alertIcon{
    position: absolute;
    visibility: hidden;
    right: 12%;
    top : 40%;
    color: rgb(255, 99, 71);
}

.toolTip{
    visibility: hidden;
    text-align: left;
    box-sizing: border-box;
    background-color: rgb(255, 220, 224);
    border: 1.25px solid rgb(206, 160, 165);
    color: rgb(80,80,80);
    position: absolute;
    width: 50%;
    top: 100%;
    left: 42.45%;
    padding:7px 20px 7px 20px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
}
.sideHeadingUpdate:hover ~ .toolTip{
    visibility: visible;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  position: relative;
}
.addAddressButton{
	display: block;
	position: relative;
	left: 10%;
	margin: 20px 25px 0px 0px ;
	padding: 8px 15px;
	background-color: #0080ff;
	color: white;
	border-radius: 4px; 
    cursor: pointer;
    border: none;
}
.delAddressButton{
	position: relative;
	left: 66.5%;
	top: 10%;
	background-color: rgb(255,99,71);
	color: white;
	border-radius: 4px; 
    cursor: pointer;
    border: none;
}
.miniHeading{
	margin-left: 10%;
	font-weight: bold;
}
#fakeAddressDiv{
    display: none;
}