body{
    background-image: linear-gradient(rgb(255,255,255),rgb(250,250,250));
}
#boxdiv{
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
    margin: 3% 24%; 
    border-radius: 10px; 
    background-color: rgb(242,242,242);
    padding: 0px 0px 20px; 
    overflow: auto;
}
#registernamediv{
    text-align: center; 
    font-weight: lighter; 
    background-color: rgb(0,0,0);
    color: rgb(255,255,255); 
    height: 50px;
    font-size: 20px; 
    padding-top:15px; 
    box-sizing: border-box;
}
#formdiv{
    padding-top: 15px;
}
.sideheading{
    float:left; width: 25%; 
    padding-top: 16px; 
    padding-left: 35px;
    box-sizing: border-box;
}
.asterik{
    color:rgb(255, 99, 71);
}
#firstname{
    padding: 12px 20px;
    float: left; 
    width: 33%;
    margin-top: 6px; 
    margin-right: 4%;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#lastname{
    padding: 12px 20px;
    float: left; 
    width: 33%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
input[type=email], input[type=password],input[type=text]{
    padding: 12px 20px;
    float: left; 
    width: 70%;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.radiobuttondiv{
    padding: 12px 0px;
    float:left; 
    width: 70%;
    margin-top: 6px; box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    border: none;
}
textarea{
    padding: 12px 20px;
    float: left; 
    width: 70%;
    margin-top: 6px;
    height:100px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    resize: vertical;
}
.selectdiv{
    padding: 12px 0px;
    float:left; 
    width: 70%;
    margin-top: 6px; box-sizing: border-box;
}
select{
    padding: 6px 20px; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
#registerbutton{
    background-color: rgb(255, 99, 71);
    color: rgb(255,255,255); 
    padding: 12px 20px; 
    margin-top:20px; 
    border: none;
    position: relative; 
    left: 43%; border-radius: 4px; cursor: pointer;
}
.requireddetails{
    width: 95%;
    float:left;
    padding-left: 35px;
    box-sizing: border-box;
}
