<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/footerStyle.css">
</head>
<body>
<div class="footer">
    <p>In chaloGarage, you can find parts for your vehicles and services provided by companies.We support
	all the models for the brands like Audi, BMW, Benz, Landover, Porsche, Honda, Hundai, Toyota, Mahindra,
	TATA, Jaguar, Nissan, Dustan, Maruti Suzuki, Ford, Harley Davidson, Ducati, KTM, Hero, Bajaj, Hyosung,
	Yamaha, Royal Enfield, TVS, kawasaki, LML, Triumph, Indian Motorcycle, Aprilia, Suzuki Hayabuza, Intruder,
	 Honda, TATA,GM, Audi Bentley, BMW, Chevrolet FIAT, Ford, Honda, Hyundai, Jaguar, Jeep, Lamborghini,
	  Land Rover, Maserati, Mercedes Benz, Mini, Renault, Skoda, Toyota, Volkswagen, Volvo, Benelli, Honda,
	  Kawasaki, Lohia, Mahindra, Piaggio, Suzuki, TVS, UM Motorcycles. chaloGarage guarantees to give you extra
	  Ordinary service by providing on spot vehicle pick up and also real time status update and many more features</p>
    <div class="middle">
        <p>Copyright (c) 2020 chaloGarage.</p>
        <p>Contact Us - xxxxxxxxxx</p>
    </div>
</div>
</body>
</html>